body {
    display: -ms-grid;
    -ms-grid-rows: 1fr;
    -ms-grid-columns: 1fr;
    background-color: grey;
}

#pullToRefresh {
    -ms-grid-column-align: center;
    width: 300px;
    height: 100%;
}

.li {
    color: grey;
    font-size: 20pt;
    padding: 30px 20px 0px 55px;
    background-color: white;
}

progress.touch-pullProgress {
    color: white;
}

